root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = space
indent_size = 4
max_line_length = 120

[*.{kt,kts}]
ij_kotlin_code_style_defaults = KOTLIN_OFFICIAL
ij_kotlin_allow_trailing_comma = true
ij_kotlin_allow_trailing_comma_on_call_site = true
ij_kotlin_line_break_after_multiline_when_entry = true

[*.{json,yml,yaml,toml}]
indent_size = 2
max_line_length = off

[*.md]
trim_trailing_whitespace = false
max_line_length = off

[*.{xml,html}]
indent_size = 4
max_line_length = off
